<div>
    <div class="page-title">
        <div class="title_left"><h3>{{homeIndex.titlePage}}</h3></div>
    </div>
    <table id="DataTable" datatable="ng" class="table table-striped responsive-utilities jambo_table">
        <thead>
        <tr class="headings">
            <th>Nome</th>
            <th width="5%">Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in homeIndex.homeService">
            <td>{{client.name}}</td>
            <td>
                <a href="#/client/{{client.id}}/edit" title="Editar"><i class="fa fa-pencil-square-o" ></i></a>
                |
                <a href="#" ng-click="homeIndex.deleteClient(client)" title="Excluir"><i class="fa fa-times" style="color:red" ></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>